body {color: rgb(58, 58, 58);font-family: roboto-condensed, sans-serif; margin: 0; padding: 0;}

#slider{
    text-align: center;
    height: 300px; 
    width: 100%;
    color: #fff;
    background-color: #333;
    background-image: url(../img/MapoDesign-comunicazione-consulenza-digitale-slider.jpg);
    background-position: center -600px;
    padding: 20px 20px 100px;
    /* Per posizionare il testo in fondo*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

h1{
    font-size: 3em;
    font-weight: 500;
}

h2{
    font-size: 2em;
    font-weight: 500;
}

h3{
    font-weight: 500;
}

ul{
    display: block;
  list-style-type:none;
  /*list-style-image: url('../img/MapoDesign-favicon.png');*/
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

/*
::marker{
    text-align: end !important;
    text-align-last: end !important;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
}*/

#page{
    text-align: center;
    padding: 20px;
}

#knowhow .card {
    border: none;
}
#knowhow .card-body {
    padding: 0;
}


#form {
    background-color: #444;
    color: #fff;

    padding: 50px 0;    
}



footer{
    background-color: #333;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: bisque;
}